* {
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;

    /* font-family: 'Saira Stencil One', cursive; */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: orange;
}

a {
    text-decoration: none;
}